:root{
    --color-background:#121212;
    --color-text-light:#ffffff;
    --color-text-muted: #aaaaaa;
    --color-primary-green: #38b000;
    --color-primary-yellow: #f8c300; 
    --font-heading: 'Sedgwick Ave Display', cursive;
    --font-body: 'Zen Dots', sans-serif; 
    --font-menu: 'Urbanist', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-menu); 
    background-color: var(--color-background); 
    color: var(--color-text-light);
    line-height: 1.6;
}

a {
    color: var(--color-text-light);
    text-decoration: none;
    text-transform: uppercase;
}

.sk8 {
    color: var(--color-primary-yellow);
    font-family: var(--font-heading);
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 1;
}

.urban-flow {
    font-family: var(--font-body); 
    font-size: 10px;
    letter-spacing: 1px;
    display: block;
    margin-top: -5px;
}

.streetwear-title, .category-title, .hot-picks h2, .buy-now-btn {
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-shadow: 
        -1px -1px 0 #fff, 1px -1px 0 #fff,
        -1px 1px 0 #fff, 1px 1px 0 #fff; 
}

.tagline {
    font-family: var(--font-body); 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.buy-now-btn {
    background-color: var(--color-primary-yellow); 
    color: #111;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px;
    box-shadow: 0 4px 0 0 #a07d00;
    transition: transform 0.1s;
}

.hot-picks {
    background-color: var(--color-primary-green);
    padding: 15px 20px;
    text-align: center;
    transform: translateY(-5px); 
    position: relative;
}