@media (max-width: 480px){
    .main-header {
        justify-content: space-between;
        padding: 10px 15px;
        height: 60px; 
        background-color: var(--color-background);
        border-bottom: none;
    }
    .logo-img {
        height: 40px; 
    }
    .search-bar, 
    .header-icons {
        display: none; 
    }
    .main-header .mobile-nav-links {
        display: flex; 
        gap: 20px;
    }
    .main-header .mobile-nav-links a {
        font-family: var(--font-menu);
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-text-light);
    }
    .sidebar-nav {
        display: none; 
    }
    .main-content-wrapper, .mobile-showcase{
        padding: 0;
        min-height: auto;
    }
    .hero-banner-mobile {
        background-image: url('/img/bg\ mobile.jpg'); 
        background-size: cover;
        background-position: center;
        height: 40vh; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        position: relative;
    }
    .hero-banner-mobile::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .hero-content {
        position: relative;
        z-index: 1;
    }
    .hero-banner-mobile h2 {
        font-family: var(--font-heading);
        font-size: 50px;
        letter-spacing: 5px;
        line-height: 1;
        margin-bottom: 5px;
    }
    .hero-banner-mobile p {
        font-family: var(--font-body);
        font-size: 20px;
        margin: 5px 0 15px;
    }
    .btn-buy-now {
        background-color: #ffc107;
        color: var(--color-background);
        padding: 10px 30px;
        font-weight: 700;
        border-radius: 5px;
        text-transform: uppercase;
        display: inline-block;
        border: none;
    }
}