:root{
    --color-background:#121212;
    --color-text-light:#ffffff;
    --color-text-muted: #aaaaaa;
    --color-primary-green: #38b000;
    --font-heading: 'Sedgwick Ave Display', cursive;
    --font-body: 'Zen Dots', sans-serif;
    --font-menu: 'Urbanist', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*BACKGROUND*/
body{
    font-family: var(--font-body);
    color: var(--color-text-light);
    min-height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    z-index: -1;
}
/*HEADER*/
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    z-index:10;
}
.logo-img{
    height: 60px;
    width: auto;
    display: block;
}
.search-bar{
    display: flex;
    align-items: center;
    background-color: #434242;
    /*border: 1px solid var(--color-text-muted);*/
    border-radius: 18px;
    padding: 0;
    width: 694px;
    overflow: hidden;
}
.search-bar input{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 5px 10px 15px;
    width: calc(100% - 40px);
    outline: none;
}
.search-bar::after{
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    background-color: var(--color-background);
}
.search-icon{
    width: 18px;
    height: 18px;
    margin: 0 10px 0 15px;
    filter: invert(1);
    opacity: 0.7;
}
.header-icons{
    display: flex;
    gap: 26px;
    align-items: center;
}
.header-icon{
    width: 40px;
    height: 40px;
    filter: invert(1);
    transition: opacity 0.2s;
}
/*BODY*/
.main-content-wrapper{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: calc(100vh-80px);
}
/* AQUI ESTA EL SIDEBAR*/
.sidebar-nav{
    width: 280px;
    padding: 30px 0 0 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav nav{
    padding-right: 20px;
}
.sidebar-nav ul{
    list-style: none;
    margin-bottom: 50px;
}
.sidebar-nav ul li a{
    display: block;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s;
}
.sidebar-nav ul li a.active-link{
    background-color: #38b000;
    color: var(--color-text-light);
    padding-left: 40px;
    padding-right: 20px;
    margin-left: -40px;
    pointer-events: none;
}
.sidebar-nav ul li a:hover{
    color: var(--color-text-muted);
}
.sidebar-buttons{
    margin-top: 50px;
}
.btn-new{
    background: linear-gradient(110deg,rgba(56, 255, 56, 1) 0%, rgba(0, 66, 8, 1) 50%, rgba(0, 0, 0, 0.59) 100%);
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 40px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
.btn-new:hover{
    background-color: #55c81f;
    transform: translate(15px);
}
.btn-sale{
    display: block;
    padding: 15px 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s;
}
.btn-sale:hover{
    color:var(--color-text-muted); ;
}
.my-account{
    display: block;
    padding: 15px 0;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-text-light);
    text-transform: uppercase;
    transition: color 0.3s;
}
.my-account:hover{
    color: var(--color-text-muted);
}
/*Aqui eempieza el hero-section*/
.product-showcase{
    flex-grow: 1;
    padding: 30px 40px;
}
.hero-banner{
    text-align: Center;
    padding: 30px 0 50px;
}
.hero-banner h2{
    font-family: var(--font-heading);
    font-size: 90px;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 1;
}
.hero-banner p{
    font-size: 30px;
    margin-left: 100px;
}
.product-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.product-card{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 450px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}
.product-card:hover{
    transform: translateY(-40px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5)
}
.product-image{
    width: 100%;
    height: 85%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.product-name{
    margin-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.product-price{
    font-size: 16px;
}
.product-detail-card{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.detail-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.product-title-large{
    font-family: var(--font-heading);
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 5px;
}
.product-title-large strong{
    font-size: 70px;
}
.product-description{
    font-family: var(--font-menu);
    font-size: 20px;
    color: var(--color-text-muted);
    margin-bottom: 20px;
}
.product-price{
    font-size: 30px;
    margin-bottom: 30px;
}
.options-group{
    margin-bottom: 25px;
}
.option-label{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.size-options, .color-options{
    display: flex;
    gap: 10px;
}
.size-btn{
    background:none;
    border: 1px solid var(--color-text-light);
    color: var(--color-text-light);
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}
.size-btn.active, .size-btn:hover{
    background-color: var(--color-text-light);
    color: var(--color-background);
}
.color-options{
    display: flex;
    gap: 10px;
}
.color-swatch{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: var(--color-code);
    transition: border-color 0.2s;
}
.color-swatch.active{
    border-color: #55c81f; 
}
.color-swatch:hover{
    opacity: 0.5;
}
.add-to-cart-btn{
    background-color: #ffc107;
    color: var(--color-background);
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-body);
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    transition: opacity 0.2s;
}
.add-to-cart-btn:hover{
    opacity: 0.7;
}
.product-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

